<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;resources&gt;&#13;&#10;&lt;item path=&quot;/cfoundry-scala/java_friendly_signatures&quot; type=&quot;2&quot;/&gt;&#13;&#10;&lt;/resources&gt;}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cfoundry-scala/tools/java-friendly-generator/java-friendly-signatures-build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cfoundry-scala"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="eclipse.home" value="${eclipse_home}"/>
<mapEntry key="eclipse.pdebuild.home" value="/C:/springsource/sts-3.2.0.RELEASE/plugins/org.eclipse.pde.build_3.8.2.v20121114-140810/./"/>
<mapEntry key="eclipse.pdebuild.scripts" value="/C:/springsource/sts-3.2.0.RELEASE/plugins/org.eclipse.pde.build_3.8.2.v20121114-140810/scripts/"/>
<mapEntry key="eclipse.pdebuild.templates" value="/C:/springsource/sts-3.2.0.RELEASE/plugins/org.eclipse.pde.build_3.8.2.v20121114-140810/templates/"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="clean,java_friendly_signatures,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/cfoundry-scala/tools/java-friendly-generator/java-friendly-signatures-build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
